<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.st_pov.practice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activities.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/welcome"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/sign_in"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.CreateAccountActivity"
            android:label="@string/create_account"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.HotelAddActivity"
            android:label="@string/add_hotel"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.FeedbackAboutHotelActivity"
            android:label="@string/give_feedback"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.RoomActivity"></activity>
    </application>

</manifest>